body{
    background-image: url(./images/2713.jpg);
    background-size: fill;
    background-repeat: repeat;
    background-position: center;
    
    
}

 #header{
    background-color: rgb(102, 99, 96);
    height: 200px;
    
}

#nav-section ul{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1vw;
    background-color: rgb(223, 164, 76);
    height: 35px;
    width: 100%;
}

#nav-section li:hover{
    background-color: black;
    height: 100%;
}

#video-clip{
    border: ridge grey 0.5px;
    background-color: grey;
    position: absolute;
    max-height: 300px;
    width: auto;
    z-index: -1;

}


#sub-text{
    font-family: cursive;
    font-size: medium;
    color: rgba(80, 18, 138, 0.5);
    
    text-transform:uppercase;
    background: linear-gradient(from left, rgba(150, 60, 235, 0.5),rgba(0, 0, 0, 0.5));


}

#carosal{
    border: ridge grey 0.5px;
    background-color: grey;
    position: absolute;
    max-height: 300px;
    width: auto;
}

/* mens section starts*/

#MENS-section{
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-height: 75vh;
    min-height: 30vh;
    border: solid rgb(255, 247, 247) 2px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 5%;
    margin-left:0%;
    margin-right:0%;
}

.men-sec img{
    object-fit: contain;
    max-height: 24vh;
    min-width: 15vw;
    border: solid rgb(253, 0, 0) 3px;
    background-color: aliceblue;
} 

/*women section starts*/

#WOMEN-section{
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-height: 75vh;
    min-height: 30vh;
    border: solid rgb(255, 247, 247) 2px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 5%;
    margin-left:0%;
    margin-right:0%;
}

.women-sec img{
    object-fit: contain;
    max-height: 24vh;
    min-width: 15vw;
    border: solid rgb(253, 0, 0) 3px;
    background-color: aliceblue;
} 

/*footware section*/

 #FOOTWARE-section{
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-height: 75vh;
    min-height: 30vh;
    border: solid rgb(255, 247, 247) 2px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 5%;
    margin-left:0%;
    margin-right:0%;
}

.footware-sec img{
    object-fit: contain;
    max-height: 24vh;
    min-width: 15vw;
    border: solid rgb(253, 0, 0) 3px;
    background-color: aliceblue;
}

/* FOOTER  */


#footer{
    background: linear-gradient(135deg, black 5%, grey 44%, rgb(114, 109, 109) );
    opacity: .81;
    border: ridge whitesmoke 3px ;
    color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-content: start;
    padding-top: 4vh;
    min-height: 20vh;
    max-height: 25vh;
    
   

} 

.foot{
    max-width: 10vw;
    margin: 0%;
}

