body{
    background-image: url(./images/f4b93dbd6691f861c0b2e58e68a60595.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#header{
    background-color: rgb(102, 99, 96);
    height: 200px;
    
}

#nav-section ul{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1vw;
    background-color: rgb(223, 164, 76);
    height: 35px;
    width: 100%;
}

#nav-section li:hover{
    background-color: black;
    height: 100%;
}

#video-clip{
    border: ridge grey 0.5px;
    background-color: grey;
    position: absolute;
    max-height: 300px;
    width: auto;
    z-index: -1;

}


#sub-text{
    font-family: cursive;
    font-size: medium;
    color: rgba(80, 18, 138, 0.5);
    
    text-transform:uppercase;
    background: linear-gradient(from left, rgba(150, 60, 235, 0.5),rgba(0, 0, 0, 0.5));


}

#carosal{
    border: ridge grey 0.5px;
    background-color: grey;
    position: absolute;
    max-height: 300px;
    width: auto;
}

#footer{
    top: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}



